.red {
  color: red;
}
h2 {
  margin-top: 1.5em;
  font-size: 26px;
  text-transform:uppercase;
}
h3 {
  margin-top: 2em;
}
h3 code {
  color: black;
  font-size: 75%;
}
.h3first {
	margin-top: .5em;
}

li.instruct {
	margin-bottom:6px;
}